<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gulp Work Flow Exemple">
    <meta name="keywords" content="HTML,Gulp,JavaScript">
    <meta name="author" content="Craaftx - Dorian Guilmain">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <!-- @@var actual_title -->
    </title>
    <!-- inject:css -->
    <!-- endinject -->
</head>

<body>
    <!-- @@placeholder = content -->
    
    <!-- inject:js -->
    <!-- endinject -->
</body>

</html>